.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway');

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-top: 60px;
}

h1, h2 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 125px 0px 50px 0px;
  text-align: center;
  font-size: 24px;
}

h3 {
  margin-bottom: 25px;
}

p {
    padding: 0px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto!important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
